Flask==2.2.3
bcrypt==3.2.0
cryptography==3.4.8

Flask-Cors==3.0.10
flask-marshmallow==0.15.0
Flask-SQLAlchemy==3.0.3
greenlet==1.1.2
gunicorn==21.2.0
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
pyenchant==3.2.2
PyJWT==2.3.0
PyMySQL==1.0.3
pyOpenSSL==21.0.0
SQLAlchemy==2.0.9
sqlparse==0.4.3
virtualenv==20.21.0